<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="utf-8">
  <title>Rati Poli</title>
  <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Independent researchers and statisticians that can analyze your data. We specialize in California, policy, and epidemiology. All organizations welcome.">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
  <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="home.css" type="text/css">
  <script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
	<link rel="import" href="../views/navbar.html">
</head>
<body>
 	<div class="container">
		<div class="panel panel-default">
		</div>
		<div class="panel panel-default" id="panel2">
			<div class="row-fluid pitch">
			</div>
		</div>
		<div class="panel panel-default" id="panel2">
			<div class="span8 offset2 social">
			</div>
		</div>
		<div class="panel panel-default" id="panel3">
			<div class="row" style="height: 100%; padding-top: 0px">
			</div>
		</div>
		<div class="panel panel-default" id="panel4">
			<div class="row">
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

</body>
</html>

